.
  .header__logo
    
 
    
.contents
  .contents__message
    

    / =link_to "#", class: "contents__btn" do
 /   = icon('fas', 'edit')
    
 / =link_to "#", class: "contents__btn" do
 /   = icon('fas', 'cog')